.jumbotron{
    background-image: url('./img/cozmo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.menu{
    width: 20%;
    height: 20%;
    text-align: center;
    padding: 70px 0;
    font-size: large;
}
.hide{
    display: none;
}
.move {
    background-color: pink;
}
.sounds {
    background-color: skyblue;
}
.cozmo-lights {
    background-color: lightgoldenrodyellow;
}
.animations {
    background-color: lightseagreen;
}
.cubes {    
    background-color: lightgreen;
}

ul.submenu {
    list-style-type: none;
    margin-left: 200%;
    width: 70%;
}
li.subli {
    display: block;
    padding: 30px;
    text-decoration: none;
    text-align: center;
}
/*
@media screen and (max-width: 900px) {
ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
}

ul.sidenav li a {
    float: left;
    padding: 15px;
}

div.content {margin-left: 0;}
}
  
@media screen and (max-width: 400px) {
ul.sidenav li a {
    text-align: center;
    float: none;
}
}*/