<!DOCTYE HTML>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAhXFdAP///wBv/wAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAiAiAiAAIiICICICICIiIgIgIgIgIiIiARERERAiIiIBRBEzECIiIiFEETMSIiIiIiAAAiIiIiERERERERIiIQAAAAAAEiIhACIiIgASIiEAAAAAABIiIQACACAAEiIhAAAAAAASIiERERERERIiIiIiIiIiIiIiIiIiIiIiIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">

     <!--- No cambiar el orden de esto porfa -->
     <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script type="text/javascript" src="js/actions.js"></script>

    <title>Hello, Cozmo!</title>
  </head>
  <body>
    <div>
        {{ > nav}}
    </div>
    
    <div>
        {{ > stack}}
    </div>
    
    <div>
        {{ > menu}}
    </div>    

    <div class="container mt-3">
        <h1>Input Buttons</h1>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Something clever.." id="task">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id = "add">Ok!</button>  
            </div>
            <div id="todos"></div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script type="text/javascript" src="./js/todos.js" ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>