<ul class = "move">
    <li>
        Move
        <ul>
            <li>
                Drive
                <ul>
                    {{#keys.move.drive}}
                        <li>
                            {{.}}
                        </li>
                    {{/keys.move.drive}}
                </ul>
            </li>
            <li>
                Turn
                <ul>
                    {{#keys.move.turn}}
                        <li>
                            {{.}}
                        </li>
                    {{/keys.move.turn}}
                </ul>
            </li>
            <li>
                Lift
                <ul>
                    {{#keys.move.lift}}
                        <li>
                            {{.}}
                        </li>
                    {{/keys.move.lift}}
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul class = "sounds">
    <li>
        Sounds
        <ul>
        {{#keys.sounds}}
            <li>
                {{.}}
            </li>
        {{/keys.sounds}}
        </ul>
    </li>
</ul>
<ul class = "lights">
    <li>
        Cozmo Lights
        <ul>
        {{#keys.cozmo-lights}}
            <li>
                {{.}}
            </li>
        {{/keys.cozmo-lights}}
        </ul>
    </li>
</ul>
<ul class = "animations">
    <li>
        Animations
        <ul>
        {{#keys.animations}}
            <li>
                {{.}}
            </li>
        {{/keys.animations}}
        </ul>
    </li>
</ul>
<ul class = "cubes">
    <li>
        Cubes
        <ul>
            <li>
                Lights
                <ul>
                    {{#keys.cubes.lights}}
                    <li>
                        {{.}}
                    </li>
                    {{/keys.cubes.lights}}
                </ul>
            </li>
            <li>
                Pickpup
                <ul>
                    {{#keys.cubes.pickup}}
                    <li>
                        {{.}}
                    </li>
                    {{/keys.cubes.pickup}}
                </ul>
            </li>
            <li>
                Drop
                <ul>
                    {{#keys.cubes.drop}}
                    <li>
                        {{.}}
                    </li>
                    {{/keys.cubes.drop}}
                </ul>
            </li>
            <li>
                Roll
                <ul>
                    {{#keys.cubes.roll}}
                    <li>
                        {{.}}
                    </li>
                    {{/keys.cubes.roll}}
                </ul>
            </li>
            <li>
                Wheelie
                <ul>
                    {{#keys.cubes.wheelie}}
                    <li>
                        {{.}}
                    </li>
                    {{/keys.cubes.wheelie}}
                </ul>
            </li>
        </ul>
    </li>
</ul>