<div class="card float-right stack" style="width: 18rem;">
  <div class="card-header">
    To-do list!
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush" id="cozmo-stack">
        <!-- {{#actions_test}}
          {{#actions}}
          <li code="YES" description="Make Cozmo say yes!" class="list-group-item"> {{.}} <button class="remove btn-danger float-right"> x </button></li>
          {{/actions}}
      {{/actions_test}}
         -->

    </ul>
  </div>
  <div class="card-footer text-muted">
    <a href="#" class="btn btn-success float-right" onclick="lex()">Go!</a>
  </div>
</div>
