
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet"
    type = "text/css"
    href = "static/stylesheets/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/stylesheets/default.css">
    <script src="static/stylesheets/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

    <body>
        <h1> Functions executed</h1>
        <div class="codebox">
            <pre>
                <code class="python">
                import cozmo, time
                from cozmo.lights import blue_light, Color, green_light, Light, red_light, white_light, off_light
                from cozmo.util import degrees, distance_mm, radians, speed_mmps

                def cozmo_program(robot: cozmo.robot.Robot):
                    {% for function in functions_executed %}
                        {{function}}
                    {% endfor %}
                            cozmo.run_program(cozmo_program)
                </code>
            </pre>
        </div>
    </body>

</html>